<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="acb0d1">  <td>22/03/09 15:23:07</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestAspireApp.testCreateManufacturingOrder(java.lang.String,java.lang.String)[pri:0, instance:TestAspireApp@192d43ce]">testCreateManufacturingOrder</td>
  <td>main@131635550</td>   <td></td> </tr>
<tr bgcolor="acb0d1">  <td>22/03/09 15:23:15</td>   <td>7786</td> <td>&nbsp;</td><td title="&lt;&lt;TestAspireApp.afterTest()[pri:0, instance:TestAspireApp@192d43ce]">&lt;&lt;afterTest</td>
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@131635550</td>   <td></td> </tr>
<tr bgcolor="acb0d1">  <td>22/03/09 15:23:01</td>   <td>-6002</td> <td>&nbsp;</td><td title="&gt;&gt;TestAspireApp.beforeTest()[pri:0, instance:TestAspireApp@192d43ce]">&gt;&gt;beforeTest</td>
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@131635550</td>   <td></td> </tr>
</table>
